.search-box{
	margin-top:35px;

	input{
		background-color:#F2F2F2;
		border:0px;
		border-radius:3px;
		padding:20px;
		width:100%;
		font-size:16px;

		&::placeholder{
			color:#999
		}

		&:focus{
			outline:none;
			-webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,.6);
			-moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,.6);
			box-shadow: 1px 1px 10px 0px rgba(0,0,0,.6);
			background-color:white;
		}
	}
}