.root{
	text-align:center;
	color:white;
	font-size:24px;
	font-family:Helvetica;
	background: linear-gradient(to bottom, #7160C4 150px, transparent 0);
	padding-top:30px;

	&__content{
		margin:0 auto;
		text-align:left;
		width:90%;

		@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  		width:80%;
		}
		@media (min-width: 1024px) and (orientation: landscape) {
  		width:60%;
		}
	}
}

body{
	margin:0px;  
}

*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
  -webkit-font-smoothing: antialiased;    
}

ul{
	list-style-type:none;
}